<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RedisTasks</title>
    <!-- Just use Bootswatch & Bootstrap starter template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css" />


    <style>
        .task-list__item:checked + span{
                color:red;
            }
        
            .task-list {
                list-style: none;
            }

            .well {
                background-color: #eee;
                padding: 2em;
                margin: 2em;
            }

            .add-form {
                margin: 2em;
            }

            .w407 {
                width: 407px;
            }
        </style>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">RedisTasks</a>
    </nav>

    <div class="container">

        <div class="well-wrapper">
            <div class="well w407">
                <h3>
                    <%= title %>
                </h3>

                <div class="add-form">
                    <form method="POST" action="/task/add">
                        <input type="text" name="task" placeholder="Add Task">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div class="well-wrapper">
            <% if (tasks !== false) { %>
            <div class="well w407">
                <form method="post" action="/task/delete">
                    <ul class="task-list">
                        <% tasks.forEach(function (task) { %>
                        <li>
                            <label>
                                    <a href="#popup" id="<%= task.idtasks %>" class="task-list__item"><%= task.description %></a>
                            </label>
                        </li>
                        <hr>
                        <% }) %>
                    </ul>
                    <a href="#popup" class="btn btn-light">note test</a>
                </form>
            </div>
            <% } %>
        </div>

        <div class="popup" id="popup">
            <div class="popup__content">
                <div class="task-form">
                    <textarea maxlength="255" rows="4" cols="100" class="task-form__description"></textarea>
                    <div class="task-form__current-time">00:00:00 - 01:12:25</div>
                    <div class="task-form__btns">
                        <div class="task-form__start-btn"><input type="button" value="Start" class="btn btn-success" /></div>
                        <div class="task-form__stop-btn"><input type="button" value="Stop" class="btn btn-danger" /></div>
                    </div>
                </div>
                <a href="#" class="popup__close">&times;</a>
            </div>
        </div>

    </div><!-- /.container -->


    <script src="/jquery.min.js"></script>

    <script>
        $(document).ready(function () {


            //@todo: left off here making a modal of some sort.
            // modal + ajax call to get the data?


            jQuery(".task-list__item").on("click", function (e) {
                $.ajax({url: "/api/tasks/"+this.id, success: function(result){
                    $(".task-form__id").val(result[0].idtasks);
                    $("textarea.task-form__description").val(result[0].description);
                  }});
            });

        });

    </script>
</body>

</html>